*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* declaration of font style and the two primary colours */

:root{
  --primary-color:#234477;
  --secondary-color:#F7A542;
  --h1-font-size: clamp(3rem, 7vw, 7.75rem);
  --p-base-size: 1rem;
  --heading-font: "Bebas Neue", sans-serif;
  --body-font: "Work Sans", sans-serif;
  --heading-weight: 700;
  --body-weight:400;
}


h1{
    font-size: var(--h1-font-size);
}
h1,h2{
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);
}

p,button,nav,article{
    font-family: var(--body-font);
    font-weight: var(--body-weight);
    font-size: var(--p-base-size);
}


/* body has flex and 100vh to make sure we can push footer alwys to the bottom with main flex1 */
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main{
    flex: 1;
    flex-direction: column;
}

header{
    background-color:#234477 ;
    /* background-color: rgb(0, 0, 0, 0); */
    /* position: absolute; */
    width: 100%;
    margin: 0 auto;
    border-style: none;
}

nav{
   height: 40px;
}

nav ul{
    height: 100%; 
}

nav li{
    display: flex;
    height: 100%;
    border-radius: 10px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

nav li:last-of-type{
    background-color: var(--secondary-color);
    
}

.navlist{
 list-style: none;
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 15px;
}



.navlink{
    text-decoration: none;
    color: white;
}


nav li:hover{
    background-color: rgb(45, 45, 97);    
}

nav li:last-of-type:hover{
    background-color: var(--secondary-color);
}
nav li:active{
    transform: scale(0.9);
}


#hero{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-image: url("../images/rainbow-vortex.png");
    background-size:cover;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: clamp(300px, 30vh, 100vh)
}

#contact{
    margin-top: 10px;
    display: flex;
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}

fieldset p{
    text-align:justify;
    max-width: 300px;
    margin: 10px;
}

form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 80%;
}

form input{
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}


#submit{
    background-color: var(--secondary-color);
    padding: 10px 50px;
    font-weight: bold;
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0 0 8px rgb(247, 165, 66, 0.7); 
    transition: transform 0.3s ease-in-out;
}
/* here is used the same effects like on the kochi button on the homepage */
#submit:hover{
    box-shadow: 0 0 15px rgb(247, 165, 66, 1);
}

#submit:active{
    transform: scale(0.9);
    
}

textarea{
    resize: none;
}



footer{
    background-color: black;
    color: white;
    display:flex; 
    justify-content: center;
    padding: 10px;
}
/* for media screen sizes bigger than 768px mobile first  */
@media(min-width:768px){
    fieldset{
        flex-direction: row;
        max-width: 1500px;
    }
}


#medias{
    margin-top:100px;
    margin-bottom: auto;
}

.medias{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.media{
    color:black;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: larger;
    transition: 0.2s ease-in;
    
}

i{
    font-size: clamp(20px, 8vw, 80px);
}
/* here i made a little nice hover effect so the media icon drops slighty  */
.media:hover{
    transform: translateY(10px);
    
}